.App {
  text-align: center;
  background-color: #de5360;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white {
  color: white;
}

.card {
  width: 20%;
  height: 20%;
  display: inline-block;
  border: 2px black;
  margin: 3%;
  cursor: pointer;
  background-color: #d0e6cd;
  border-radius: 50px
}

.box {
  background-color: #0284A8;
}

.center {
  background-color: #3f6083;
  padding: 1% 14% 1% 12%;
  color: white;
}

.centered {
  text-align: center;
}

.padding {
  display: inline;
  padding-bottom: 1%
}

.padding2 {
  padding-top: 6%
}

.mod {
  padding: 4px;
  margin: -4%;
}

.littleMargin {
  margin-bottom: 2%
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}